name: build flake

on:
  workflow_dispatch: # allows manual triggering
  push:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        drv: ["devShell-default", "nixos-t1000", "nixos-t800", "nixos-t70"]
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5.0.0

      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: 'holster'
          root-safe-haven: '10240'

      - uses: DeterminateSystems/nix-installer-action@main

      - run: |
          nix run github:Mic92/nix-fast-build -- --flake ".#checks.${{ matrix.drv }}" --retries ${{ vars.NIX_BUILD_RETRIES }} --skip-cached --no-nom
