name: build flake

on:
  workflow_dispatch: # allows manual triggering
  push:

jobs:
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: rrbutani/use-nix-shell-action@v1
        with:
          devShell: .#devShells.lint
      - run: |
          treefmt --ci --excludes  "*/hardware-configuration.nix"
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6.0.2
      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: 'holster'
          root-safe-haven: '10240'
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: rrbutani/use-nix-shell-action@v1
        with:
          devShell: .#devShells.default
      - run: |
          nix-fast-build --retries ${{ vars.NIX_BUILD_RETRIES }} --skip-cached --no-nom
