name: build flake

on:
  workflow_dispatch: # allows manual triggering
  push:

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6.0.0

      - uses: wimpysworld/nothing-but-nix@main
        with:
          hatchet-protocol: 'holster'
          root-safe-haven: '10240'

      - uses: DeterminateSystems/nix-installer-action@main

      - run: |
          nix run github:Mic92/nix-fast-build -- --retries ${{ vars.NIX_BUILD_RETRIES }} --skip-cached --no-nom
